<div class="container spr-top-container">
    <tabset>
        <tab heading="Overview" class="pointer">
            <div class="spr-tab-container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="thumbnail text-center spr-company">
                            <div class="spr-company-profile spr-bgcolor-red"></div>
                            <div class="caption">
                                <h3>Vodafone Group Ro</h3>
                                <div class="media text-left">
                                    <div class="media-body">
                                        <h4 class="media-heading">Location</h4>
                                        str. Liviu Rebreanu nr.24 300391
                                    </div>
                                </div>
                                <div class="media text-left">
                                    <div class="media-body">
                                        <h4 class="media-heading">Found date</h4>
                                        12th of January, 1991
                                    </div>
                                </div>
                                <div class="media text-left">
                                    <div class="media-body">
                                        <h4 class="media-heading">Owner</h4>
                                        John Southam (Chairman) <br/>
                                        Vittorio Colao
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="panel panel-default spr-panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-1 text-right"><span class="glyphicon glyphicon-chevron-down spr-right-align spr-color-red"></span></div>
                                    <div class="col-lg-10">
                                        <div class="progress">
                                            <div class="progress-bar spr-bgcolor-green spr-no-image" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                                                <span class="spr-progress">SERVICES 87%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1"><span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"></span></div>

                                </div>

                                <div class="row">
                                    <div class="col-lg-1 text-right"><span class="glyphicon glyphicon-chevron-down spr-right-align spr-color-red"></span></div>
                                    <div class="col-lg-10">
                                        <div class="progress">
                                            <div class="progress-bar spr-bgcolor-orange spr-no-image" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 74%">
                                                <span class="spr-progress">EMPLOYEE 74%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1"><span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"></span></div>

                                </div><div class="row">
                                <div class="col-lg-1 text-right"><span class="glyphicon glyphicon-chevron-down spr-right-align spr-color-red"></span></div>
                                <div class="col-lg-10">
                                    <div class="progress">
                                        <div class="progress-bar spr-bgcolor-blue spr-no-image" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="spr-progress">QUALITY 40%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1"><span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"></span></div>

                            </div><div class="row">
                                <div class="col-lg-1 text-right"><span class="glyphicon glyphicon-chevron-down spr-right-align spr-color-red"></span></div>
                                <div class="col-lg-10">
                                    <div class="progress">
                                        <div class="progress-bar spr-bgcolor-red spr-no-image" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                                            <span class="spr-progress">HYGIENE 92%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1"><span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"></span></div>

                            </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="panel panel-default spr-panel">
                            <div class="panel-body">
                                <h4>Company Description</h4>
                                <p>Vodafone Group plc /ˈvoʊdəfoʊn/ is a British multinational telecommunications company headquartered in London and with its registered office in Newbury, Berkshire.[2] It is the world's 2nd-largest mobile telecommunications company measured by both subscribers and 2013 revenues (in each case behind China Mobile), and had 434 million subscribers as of 31 March 2014.[3]
</p><p>
                                    Vodafone owns and operates networks in 21 countries and has partner networks in over 40 additional countries.[4] Its Vodafone Global Enterprise division provides telecommunications and IT services to corporate clients in over 65 countries.
                            </p><p>
                                    Vodafone has a primary listing on the London Stock Exchange and is a constituent of the FTSE 100 Index. It had a market capitalisation of approximately £89.1 billion as of 6 July 2012, the third-largest of any company listed on the London Stock Exchange.[5] It has a secondary listing on NASDAQ.</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </tab>
        <tab heading="Complaints" class="pointer">

        </tab>
        <tab heading="Notice Board" class="pointer">
            <div class="spr-tab-container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="panel panel-default spr-panel">
                            <div class="panel-heading">Future ideas <span class="badge">3</span></div>
                            <div class="panel-body">
                                <div class="panel panel-default spr-panel-sm">
                                <div class="panel-body">
                                       <h5>Reabilitarea parcarii</h5>
                                        <p>Sugerez ca parcarea dumneavoastra sa fie reablitata. Este imposibil de gasit un loc potrivit pentru a lasa masina.</p>
                                </div>
                                <div class="panel-footer spr-panel-footer pointer">
                                        <span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"> 31 people</span>
                                </div>
                            </div>
                            </div>
                            <div class="panel-body">
                                <div class="panel panel-default spr-panel-sm">
                                    <div class="panel-body">
                                        <h5>Reabilitarea parcarii</h5>
                                        <p>Sugerez ca parcarea dumneavoastra sa fie reablitata. Este imposibil de gasit un loc potrivit pentru a lasa masina.</p>
                                    </div>
                                    <div class="panel-footer spr-panel-footer pointer">
                                        <span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"> 31 people</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h5>Reabilitarea parcarii</h5>
                                        <p>Sugerez ca parcarea dumneavoastra sa fie reablitata. Este imposibil de gasit un loc potrivit pentru a lasa masina.</p>
                                    </div>
                                    <div class="panel-footer spr-panel-footer pointer">
                                        <span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"> 31 people</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default spr-panel">
                            <div class="panel-heading">To Do <span class="badge">1</span></div>
                            <div class="panel-body">
                                <div class="panel panel-default spr-panel-sm">
                                    <div class="panel-body">
                                        <h5>Reabilitarea parcarii</h5>
                                        <p>Sugerez ca parcarea dumneavoastra sa fie reablitata. Este imposibil de gasit un loc potrivit pentru a lasa masina.</p>
                                    </div>
                                    <div class="panel-footer spr-panel-footer pointer">
                                        <span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"> 31 people</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default spr-panel">
                            <div class="panel-heading">Doing <span class="badge">3</span></div>
                            <div class="panel-body">
                                <div class="panel panel-default spr-panel-sm">
                                    <div class="panel-body">
                                        <h5>Reabilitarea parcarii</h5>
                                        <p>Sugerez ca parcarea dumneavoastra sa fie reablitata. Este imposibil de gasit un loc potrivit pentru a lasa masina.</p>
                                    </div>
                                    <div class="panel-footer spr-panel-footer pointer">
                                        <span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"> 31 people</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="panel panel-default spr-panel-sm">
                                    <div class="panel-body">
                                        <h5>Reabilitarea parcarii</h5>
                                        <p>Sugerez ca parcarea dumneavoastra sa fie reablitata. Este imposibil de gasit un loc potrivit pentru a lasa masina.</p>
                                    </div>
                                    <div class="panel-footer spr-panel-footer pointer">
                                        <span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"> 31 people</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default spr-panel">
                            <div class="panel-heading">Done <span class="badge">4</span></div>
                            <div class="panel-body">
                                <div class="panel panel-default spr-panel-sm">
                                    <div class="panel-body">
                                        <h5>Reabilitarea parcarii</h5>
                                        <p>Sugerez ca parcarea dumneavoastra sa fie reablitata. Este imposibil de gasit un loc potrivit pentru a lasa masina.</p>
                                    </div>
                                    <div class="panel-footer spr-panel-footer pointer">
                                        <span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"> 31 people</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="panel panel-default spr-panel-sm">
                                    <div class="panel-body">
                                        <h5>Reabilitarea parcarii</h5>
                                        <p>Sugerez ca parcarea dumneavoastra sa fie reablitata. Este imposibil de gasit un loc potrivit pentru a lasa masina.</p>
                                    </div>
                                    <div class="panel-footer spr-panel-footer pointer">
                                        <span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"> 31 people</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="panel panel-default spr-panel-sm">
                                    <div class="panel-body">
                                        <h5>Reabilitarea parcarii</h5>
                                        <p>Sugerez ca parcarea dumneavoastra sa fie reablitata. Este imposibil de gasit un loc potrivit pentru a lasa masina.</p>
                                    </div>
                                    <div class="panel-footer spr-panel-footer pointer">
                                        <span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"> 31 people</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="panel panel-default spr-panel-sm">
                                    <div class="panel-body">
                                        <h5>Reabilitarea parcarii</h5>
                                        <p>Sugerez ca parcarea dumneavoastra sa fie reablitata. Este imposibil de gasit un loc potrivit pentru a lasa masina.</p>
                                    </div>
                                    <div class="panel-footer spr-panel-footer pointer">
                                        <span class="glyphicon glyphicon-chevron-up spr-right-align spr-color-green"> 31 people</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </tab>
        <tab heading="Discussion" class="pointer">
    <div class="spr-tab-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Stau prin zona Rahova si nu am semnal la vodafone pe internet sau voce
                        am un 6124c si nu am semnal, nici 3G si u laptop dell de la vodafone si la fel nu merge !

                        Acum postez de pe dial-up de pe un nr de orange.
                        Ce pot face ?
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        Stau prin zona Rahova si nu am semnal la vodafone pe internet sau voce
                        am un 6124c si nu am semnal, nici 3G si u laptop dell de la vodafone si la fel nu merge !

                        Acum postez de pe dial-up de pe un nr de orange.
                        Ce pot face ?
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        Stau prin zona Rahova si nu am semnal la vodafone pe internet sau voce
                        am un 6124c si nu am semnal, nici 3G si u laptop dell de la vodafone si la fel nu merge !

                        Acum postez de pe dial-up de pe un nr de orange.
                        Ce pot face ?
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Stau prin zona Rahova si nu am semnal la vodafone pe internet sau voce
                        am un 6124c si nu am semnal, nici 3G si u laptop dell de la vodafone si la fel nu merge !

                        Acum postez de pe dial-up de pe un nr de orange.
                        Ce pot face ?
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        Stau prin zona Rahova si nu am semnal la vodafone pe internet sau voce
                        am un 6124c si nu am semnal, nici 3G si u laptop dell de la vodafone si la fel nu merge !

                        Acum postez de pe dial-up de pe un nr de orange.
                        Ce pot face ?
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        Stau prin zona Rahova si nu am semnal la vodafone pe internet sau voce
                        am un 6124c si nu am semnal, nici 3G si u laptop dell de la vodafone si la fel nu merge !

                        Acum postez de pe dial-up de pe un nr de orange.
                        Ce pot face ?
                    </div>
                </div>
            </div>
        </div>
    </div>
        </tab>
        <tab heading="Statistics" class="pointer">
                <div class="spr-tab-container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="../img/graph1.png">
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="../img/graph2.gif">
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="../img/graph1.png">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
        </tab>

    </tabset>
</div>