<ion-view title="{{name}}">
  <ion-nav-buttons side="right">
	<a href="#/app/search"><button class="button button-icon icon ion-search"></button></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
	<div class="card">
	  <div class="item item-divider">
		Description
	  </div>
	  <div class="item item-text-wrap">
		{{description}}
	  </div>
	</div>
	<div class="list card">
	  <a href="#/app/tickets/:branchId/1" class="item item-icon-left">
		<i class="icon ion-paper-airplane"></i>
		Proposals
	  </a>
	  <a href="#/app/tickets/:branchId/2" class="item item-icon-left">
		<i class="icon ion-alert-circled"></i>
		Complaints
	  </a>
	</div>
  </ion-content>
</ion-view>