<ion-view title="{{ticketName}}">
  <ion-nav-buttons side="right">
	<a href="#/app/search"><button class="button button-icon icon ion-search"></button></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
	<div class="card">
	  <div class="item item-divider">
		Title
	  </div>
	  <div class="item item-text-wrap">
		Title
	  </div>
	</div>
	<div class="card">
	  <div class="item item-divider">
		Description
	  </div>
	  <div class="item item-text-wrap">
		Description
	  </div>
	</div>
	<div class="card">
	  <div class="item item-divider">
		Status
	  </div>
	  <div class="item item-text-wrap">
		Status
	  </div>
	</div>
  </ion-content>
</ion-view>
